.main {
  margin-left: 17.5rem;
  padding: 1rem 1rem;
  width: 60%;
  display: flex;  
}

.extensions {
  margin-left: 0.75rem;    
  min-width: 40%;
}

.avatarMed {
  width: 2rem;
  height: 2rem;  
}

.avatarLarge {
  width: 2.5rem;
  height: 2.5rem;  
}

.frameUser {
  width: 24%;
  height: 15rem;
}

.frameAds {
  width: 50%;
  height: 10rem;
}