.navBar {
  background-color: rgb(65, 105, 180);
  height: 3rem;
  width: 100%;
  padding-left: 5rem;  
  padding-right: 20rem;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.logo {
  width: 2rem;
  height: 2rem;
  border: none;
}

.searchBox {
  height: 2rem;
  background-color: #FFF;
  margin: 0 1rem 0 0.5rem;
}

.avatarSmall {
  width: 1.5rem;
  height: 1.5rem;  
}